<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skills</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header>
        <h1>Skills of GC</h1>
    </header>
    <nav>
        <a href = "./index.html">Home</a>
        <a href = "./about.html">About</a>
        <a href = "./contact.html">Contact</a>
    </nav>
    <main>
        <div>
            <p>Skills? I have a few...but then again...too few to mention</p>
        </div>
    </main>
</body>
</html>